{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}


{% block content %}
<div class="text-white text-center text-4xl font-bold mt-10">Registration Form</div>
    {% if  user.is_authenticated%}
        <h2>Sorry, you're already a member.</h2>
    {% else %}
<div class="flex w-2/5 p-10 flex-col bg-white mt-10 mx-auto">
    <form class="w-full max-w-lg flex flex-col justify-center text-white mx-auto p-10 bg-blue-700" method="post">
    {% csrf_token %}
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block  font-bold md:text-right mb-1 md:mb-0 pr-4" for="{{ form.first_name.id_for_label }}">
        First Name
      </label>
    </div>
    <div class="md:w-2/3">
        {{ form.first_name }}
    </div>
  </div>
        <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block  font-bold md:text-right mb-1 md:mb-0 pr-4" for="{{ form.first_name.id_for_label }}">
        Last Name
      </label>

    </div>
    <div class="md:w-2/3">
        {{ form.last_name }}
    </div>
  </div>
        <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block  font-bold md:text-right mb-1 md:mb-0 pr-4" for="{{ form.username.id_for_label }}">
        Username
      </label>
    </div>
    <div class="md:w-2/3">
        {{ form.username }}
    </div>
  </div>
        <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block  font-bold md:text-right mb-1 md:mb-0 pr-4" for="{{ form.email.id_for_label }}">
        Email
      </label>
    </div>
    <div class="md:w-2/3">
        {{ form.email }}
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block  font-bold md:text-right mb-1 md:mb-0 pr-4" for="{{ form.password1.id_for_label }}">
        Password
      </label>
    </div>
    <div class="md:w-2/3">
        {{ form.password1 }}
    </div>
  </div>
        <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label class="block  font-bold md:text-right mb-1 md:mb-0 pr-4" for="{{ form.password2.id_for_label }}">
        Re-type Password
      </label>
    </div>
    <div class="md:w-2/3">
        {{ form.password2 }}
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3"></div>
    <label class="md:w-2/3 block  font-bold">
      <input class="mr-2 leading-tight" type="checkbox">
      <span class="text-sm">
        Send me your newsletter!
      </span>
    </label>
  </div>
  <div class="md:flex md:items-center">
    <div class="md:w-1/3"></div>
    <div class="md:w-2/3">
      <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="Submit">
        Sign Up
      </button>
    </div>
  </div>
</form>
		</div>
    {% endif %}
{% endblock content %}