<div class=" max-w-sm flex mx-auto flex-auto bg-gray-300 mb-4 shadow-xl rounded-lg overflow-hidden">
  <div class=" sm:flex sm:items-center px-6 py-4">
    <img class="block mx-auto sm:mx-0 sm:flex-shrink-0 h-16 sm:h-24 rounded-full" src="{{ doc.image.url}}" alt="Woman's Face">
    <div class="mt-4 sm:mt-0 sm:ml-4 text-center sm:text-left">
      <p class="text-xl leading-tight">{{ doc.user.first_name}} {{ doc.user.last_name }}</p>
      <p class="text-sm leading-tight text-gray-600">{{ doc.department}}</p>
      <div class="mt-4">
          <a href="{{ doc.get_absolute_url }}">
              <button class="text-teal-500 hover:text-white hover:bg-teal-500 border border-teal-500 text-xs font-semibold rounded-full px-4 py-1 leading-normal">View</button>
          </a>

      </div>
    </div>
  </div>
</div>