


<nav class="flex items-center justify-center flex-wrap bg-blue-800 p-6 mt-10">


  <div class="w-full block flex-grow lg:flex justify-center lg:items-center lg:w-auto">
    <div class="text-lg lg: ">
      <h3 class="block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-black mr-8 ">
        Copyright &#169 2020
      </h3>

      <a href="{% url 'account:home' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-black mr-8">
        Dev Hospital
      </a>
      <a href="{% url 'account:about' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-black mr-8">
        About
      </a>

    </div>



  </div>
</nav>