{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock title %}
{% block content %}
    <div class="flex flex-col w-4/5">
    <h1 class="font-sans text-3xl text-black font-bold text-teal-500 text-center">Hospital Management Admin Dashboard</h1>
        <h3 class="font-sans text-2xl text-black text-center pb-10 ml-24 ">Doctors on staff</h3>
     <div class="w-full flex flex-wrap  ">
         {% if user.is_superuser %}
        {% for doc in docs %}
            <div class="flex w-1/2  flex-grow">
       {% include 'partials/doc_card.html'   %}
            </div>
        {% endfor %}
             <div class="w-full">
        <h3 class="font-sans text-2xl text-black text-center ">Patients</h3>
              {% for patient in patients_list %}
            {% include 'partials/patient_card.html' %}
        {% endfor %}
             </div>
        {% else %}
        <h5>Hello you are not admin</h5>
    {% endif %}
     </div>
{#    <div class="mx-auto">#}
{#        {% include 'partials/login_button.html' %}#}
{#    </div>#}
   </div>
{% endblock content %}