{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock title %}
{% block content %}
    <div class="flex flex-col w-full">
    <h1 class="font-sans text-5xl text-black font-bold text-white text-center mt-10 mb-10">Dev Hospital Admin Dashboard</h1>
    {% if user.is_superuser %}
        <h3 class="font-sans text-3xl text-black font-bold text-white text-center mt-10 mb-10 ">Doctors on staff</h3>
        <div class="w-4/5 mx-auto grid grid-cols-2 gap-4 ">

        {% for doc in docs %}
            <div class="">
       {% include 'partials/doc_card.html'   %}
            </div>

        {% endfor %}
        </div>
              <div>
        <h3 class="font-sans text-4xl text-black font-bold text-white text-center mt-10 ">Patients</h3>
        </div>
          <div class="w-3/5 grid grid-cols-2 gap-1 mx-auto mt-10 ">

              {% for patient in patients_list %}
            {% include 'partials/patient_card.html' %}
        {% endfor %}
             </div>
        {% elif user.is_authenticated and user == patient.user %}
        <div>
        {{ patient.user.first_name }}
        </div>
        {% else %}
        <h5>Hello you are not admin</h5>
    {% endif %}
     </div>

   </div>
{% endblock content %}