{% extends 'base.html' %}
{% block content %}


<div class="flex flex-col w-full">
    <h1 class="font-sans text-5xl text-black font-bold text-white text-center mt-10 mb-10">Appointment Booked! </h1>
    <div class="w-1/2 mx-auto">
        <p class="font-sans text-3xl text-black font-bold   mt-10 mb-10" >
            We look forward to seeing you on your appointment. If you have any questions, don't ask us.
            <br>
            Thanks for your understanding!
        </p>
    </div>
</div>
{% endblock %}