{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link type="image/svg" rel="shortcut icon" href="{% static 'favicon.svg' %}">
<title>{% block title %}Hospital{% endblock title %} | Hospital Management</title>
{#<link href="{% static "css/public/styles.css" %}" rel="stylesheet">#}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
{#<body class="flex flex-col bg-blue-500 min-h-screen ">#}
<body class="flex flex-col min-h-screen bg-gradient-to-br from-blue-300  via-blue-400 to-blue-100" >
{% include 'partials/nav.html' %}
<div class="flex-grow">
{% block content %}

{% endblock %}
</div>
<div class="mb-0 ">
    {% include 'partials/footer.html' %}
</div>
</body>